Tiers/Mvc/Library.Mvc/Service References/BookServices/books1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="com.sense.services.Services" elementFormDefault="qualified" targetNamespace="com.sense.services.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.22:8097/services/books?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Library.Business.Services.Book.Dtos" />
  <xs:element name="GetBookList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Library.Business.Services.Book.Dtos" minOccurs="0" name="GetBookListResult" nillable="true" type="q1:BookOutputDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Library.Business.Services.Book.Dtos" minOccurs="0" name="input" nillable="true" type="q2:BookInputDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Library.Business.Services.Book.Dtos" minOccurs="0" name="input" nillable="true" type="q3:BookDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>