Tiers/Mvc/Library.Mvc/Service References/BookServices/com.sense.services.Services1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="com.sense.services.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="com.sense.services.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="com.sense.services.Services/Imports">
      <xsd:import namespace="com.sense.services.Services" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Library.Business.Services.Book.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BookService_GetBookList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookList" />
  </wsdl:message>
  <wsdl:message name="BookService_GetBookList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookListResponse" />
  </wsdl:message>
  <wsdl:message name="BookService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="BookService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="BookService_UpdateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBook" />
  </wsdl:message>
  <wsdl:message name="BookService_UpdateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse" />
  </wsdl:message>
  <wsdl:portType name="BookService">
    <wsdl:operation name="GetBookList">
      <wsdl:input wsaw:Action="com.sense.services.Services/BookService/GetBookList" message="tns:BookService_GetBookList_InputMessage" />
      <wsdl:output wsaw:Action="com.sense.services.Services/BookService/GetBookListResponse" message="tns:BookService_GetBookList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="com.sense.services.Services/BookService/AddBook" message="tns:BookService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="com.sense.services.Services/BookService/AddBookResponse" message="tns:BookService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input wsaw:Action="com.sense.services.Services/BookService/UpdateBook" message="tns:BookService_UpdateBook_InputMessage" />
      <wsdl:output wsaw:Action="com.sense.services.Services/BookService/UpdateBookResponse" message="tns:BookService_UpdateBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>