Tiers/Mvc/Library.Mvc/Service References/BookServices/Library.Business.Services.Book.Dtos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library.Business.Services.Book.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library.Business.Services.Book.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BookOutputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfBookDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookOutputDto" nillable="true" type="tns:BookOutputDto" />
  <xs:complexType name="ArrayOfBookDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookDto" nillable="true" type="tns:BookDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookDto" nillable="true" type="tns:ArrayOfBookDto" />
  <xs:complexType name="BookDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishDate" type="xs:int" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rack" type="xs:int" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shelf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkinType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookDto" nillable="true" type="tns:BookDto" />
  <xs:complexType name="BookInputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" type="xs:int" />
      <xs:element minOccurs="0" name="Genre" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishDate" type="xs:int" />
      <xs:element minOccurs="0" name="Publisher" type="xs:int" />
      <xs:element minOccurs="0" name="Rack" type="xs:int" />
      <xs:element minOccurs="0" name="Serie" type="xs:int" />
      <xs:element minOccurs="0" name="Shelf" type="xs:int" />
      <xs:element minOccurs="0" name="SkinType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookInputDto" nillable="true" type="tns:BookInputDto" />
</xs:schema>