Tiers/Mvc/Library.Mvc/Service References/AuthenticationServices/com.sense.services.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="com.sense.services.Services" elementFormDefault="qualified" targetNamespace="com.sense.services.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Library.Business.Services.Authentication.Dtos" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Library.Business.Services.Authentication.Dtos" minOccurs="0" name="input" nillable="true" type="q1:UserInputDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Library.Business.Services.Authentication.Dtos" minOccurs="0" name="AuthenticateResult" nillable="true" type="q2:UserOutputDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>