Tiers/Mvc/Library.Mvc/Service References/AuthenticationServices/Library.Business.Dtos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library.Business.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library.Business.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserInputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInputDto" nillable="true" type="tns:UserInputDto" />
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="UserOutputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastLoginDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserOutputDto" nillable="true" type="tns:UserOutputDto" />
</xs:schema>