Tiers/Mvc/Library.Mvc/Service References/ItemProviderServices/com.sense.business.Services1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="com.sense.business.Services" elementFormDefault="qualified" targetNamespace="com.sense.business.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Library.Business.Dtos" />
  <xs:element name="Authors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Library.Business.Dtos" minOccurs="0" name="AuthorsResult" nillable="true" type="q1:AuthorOutputDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Publishers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Library.Business.Dtos" minOccurs="0" name="PublishersResult" nillable="true" type="q2:PublisherOutputDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Genres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Library.Business.Dtos" minOccurs="0" name="GenresResult" nillable="true" type="q3:GenreOutputDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Series">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Library.Business.Dtos" minOccurs="0" name="SeriesResult" nillable="true" type="q4:SeriesOutputDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Shelfs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShelfsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Library.Business.Dtos" minOccurs="0" name="ShelfsResult" nillable="true" type="q5:ShelfOutputDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Racks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RacksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Library.Business.Dtos" minOccurs="0" name="RacksResult" nillable="true" type="q6:RackOutputDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>