Tiers/Mvc/Library.Mvc/Service References/ItemProviderServices/com.sense.business.Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="com.sense.business.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="com.sense.business.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="com.sense.business.Services/Imports">
      <xsd:import namespace="com.sense.business.Services" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Library.Business.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ItemProviderService_Authors_InputMessage">
    <wsdl:part name="parameters" element="tns:Authors" />
  </wsdl:message>
  <wsdl:message name="ItemProviderService_Authors_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="ItemProviderService_Publishers_InputMessage">
    <wsdl:part name="parameters" element="tns:Publishers" />
  </wsdl:message>
  <wsdl:message name="ItemProviderService_Publishers_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishersResponse" />
  </wsdl:message>
  <wsdl:message name="ItemProviderService_Genres_InputMessage">
    <wsdl:part name="parameters" element="tns:Genres" />
  </wsdl:message>
  <wsdl:message name="ItemProviderService_Genres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenresResponse" />
  </wsdl:message>
  <wsdl:message name="ItemProviderService_Series_InputMessage">
    <wsdl:part name="parameters" element="tns:Series" />
  </wsdl:message>
  <wsdl:message name="ItemProviderService_Series_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeriesResponse" />
  </wsdl:message>
  <wsdl:message name="ItemProviderService_Shelfs_InputMessage">
    <wsdl:part name="parameters" element="tns:Shelfs" />
  </wsdl:message>
  <wsdl:message name="ItemProviderService_Shelfs_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShelfsResponse" />
  </wsdl:message>
  <wsdl:message name="ItemProviderService_Racks_InputMessage">
    <wsdl:part name="parameters" element="tns:Racks" />
  </wsdl:message>
  <wsdl:message name="ItemProviderService_Racks_OutputMessage">
    <wsdl:part name="parameters" element="tns:RacksResponse" />
  </wsdl:message>
  <wsdl:portType name="ItemProviderService">
    <wsdl:operation name="Authors">
      <wsdl:input wsaw:Action="com.sense.business.Services/ItemProviderService/Authors" message="tns:ItemProviderService_Authors_InputMessage" />
      <wsdl:output wsaw:Action="com.sense.business.Services/ItemProviderService/AuthorsResponse" message="tns:ItemProviderService_Authors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Publishers">
      <wsdl:input wsaw:Action="com.sense.business.Services/ItemProviderService/Publishers" message="tns:ItemProviderService_Publishers_InputMessage" />
      <wsdl:output wsaw:Action="com.sense.business.Services/ItemProviderService/PublishersResponse" message="tns:ItemProviderService_Publishers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Genres">
      <wsdl:input wsaw:Action="com.sense.business.Services/ItemProviderService/Genres" message="tns:ItemProviderService_Genres_InputMessage" />
      <wsdl:output wsaw:Action="com.sense.business.Services/ItemProviderService/GenresResponse" message="tns:ItemProviderService_Genres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Series">
      <wsdl:input wsaw:Action="com.sense.business.Services/ItemProviderService/Series" message="tns:ItemProviderService_Series_InputMessage" />
      <wsdl:output wsaw:Action="com.sense.business.Services/ItemProviderService/SeriesResponse" message="tns:ItemProviderService_Series_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Shelfs">
      <wsdl:input wsaw:Action="com.sense.business.Services/ItemProviderService/Shelfs" message="tns:ItemProviderService_Shelfs_InputMessage" />
      <wsdl:output wsaw:Action="com.sense.business.Services/ItemProviderService/ShelfsResponse" message="tns:ItemProviderService_Shelfs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Racks">
      <wsdl:input wsaw:Action="com.sense.business.Services/ItemProviderService/Racks" message="tns:ItemProviderService_Racks_InputMessage" />
      <wsdl:output wsaw:Action="com.sense.business.Services/ItemProviderService/RacksResponse" message="tns:ItemProviderService_Racks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>