Tiers/Mvc/Library.Mvc/Service References/ItemProviderServices/provider1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library.Business.Services.Provider.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library.Business.Services.Provider.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthorOutputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorDtos" nillable="true" type="tns:ArrayOfAuthorDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorOutputDto" nillable="true" type="tns:AuthorOutputDto" />
  <xs:complexType name="ArrayOfAuthorDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorDto" nillable="true" type="tns:AuthorDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorDto" nillable="true" type="tns:ArrayOfAuthorDto" />
  <xs:complexType name="AuthorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorDto" nillable="true" type="tns:AuthorDto" />
  <xs:complexType name="PublisherOutputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="PublisherDtos" nillable="true" type="tns:ArrayOfPublisherDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublisherOutputDto" nillable="true" type="tns:PublisherOutputDto" />
  <xs:complexType name="ArrayOfPublisherDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PublisherDto" nillable="true" type="tns:PublisherDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublisherDto" nillable="true" type="tns:ArrayOfPublisherDto" />
  <xs:complexType name="PublisherDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublisherDto" nillable="true" type="tns:PublisherDto" />
  <xs:complexType name="GenreOutputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="GenreDtos" nillable="true" type="tns:ArrayOfGenreDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenreOutputDto" nillable="true" type="tns:GenreOutputDto" />
  <xs:complexType name="ArrayOfGenreDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenreDto" nillable="true" type="tns:GenreDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenreDto" nillable="true" type="tns:ArrayOfGenreDto" />
  <xs:complexType name="GenreDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenreDto" nillable="true" type="tns:GenreDto" />
  <xs:complexType name="SeriesOutputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="SeriesDtos" nillable="true" type="tns:ArrayOfSeriesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeriesOutputDto" nillable="true" type="tns:SeriesOutputDto" />
  <xs:complexType name="ArrayOfSeriesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeriesDto" nillable="true" type="tns:SeriesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeriesDto" nillable="true" type="tns:ArrayOfSeriesDto" />
  <xs:complexType name="SeriesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeriesDto" nillable="true" type="tns:SeriesDto" />
  <xs:complexType name="ShelfOutputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShelfDtos" nillable="true" type="tns:ArrayOfShelfDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShelfOutputDto" nillable="true" type="tns:ShelfOutputDto" />
  <xs:complexType name="ArrayOfShelfDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShelfDto" nillable="true" type="tns:ShelfDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShelfDto" nillable="true" type="tns:ArrayOfShelfDto" />
  <xs:complexType name="ShelfDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShelfDto" nillable="true" type="tns:ShelfDto" />
  <xs:complexType name="RackOutputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="RackDtos" nillable="true" type="tns:ArrayOfRackDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RackOutputDto" nillable="true" type="tns:RackOutputDto" />
  <xs:complexType name="ArrayOfRackDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RackDto" nillable="true" type="tns:RackDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRackDto" nillable="true" type="tns:ArrayOfRackDto" />
  <xs:complexType name="RackDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RackDto" nillable="true" type="tns:RackDto" />
</xs:schema>