Tiers/Mvc/Library.Mvc/Service References/IntegrationServices/com.sense.business.Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="com.sense.business.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="com.sense.business.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="com.sense.business.Services/Imports">
      <xsd:import namespace="com.sense.business.Services" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Library.Business.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IntegrationService_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="IntegrationService_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="IntegrationService_CreateAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAuthor" />
  </wsdl:message>
  <wsdl:message name="IntegrationService_CreateAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IntegrationService_CreatePublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePublisher" />
  </wsdl:message>
  <wsdl:message name="IntegrationService_CreatePublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePublisherResponse" />
  </wsdl:message>
  <wsdl:portType name="IntegrationService">
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="com.sense.business.Services/IntegrationService/Import" message="tns:IntegrationService_Import_InputMessage" />
      <wsdl:output wsaw:Action="com.sense.business.Services/IntegrationService/ImportResponse" message="tns:IntegrationService_Import_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAuthor">
      <wsdl:input wsaw:Action="com.sense.business.Services/IntegrationService/CreateAuthor" message="tns:IntegrationService_CreateAuthor_InputMessage" />
      <wsdl:output wsaw:Action="com.sense.business.Services/IntegrationService/CreateAuthorResponse" message="tns:IntegrationService_CreateAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePublisher">
      <wsdl:input wsaw:Action="com.sense.business.Services/IntegrationService/CreatePublisher" message="tns:IntegrationService_CreatePublisher_InputMessage" />
      <wsdl:output wsaw:Action="com.sense.business.Services/IntegrationService/CreatePublisherResponse" message="tns:IntegrationService_CreatePublisher_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>