Tiers/Mvc/Library.Mvc/Service References/IntegrationServices/integration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library.Business.Services.Integration.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library.Business.Services.Integration.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IntegrationInputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IntegrationDto" nillable="true" type="tns:IntegrationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntegrationInputDto" nillable="true" type="tns:IntegrationInputDto" />
  <xs:complexType name="IntegrationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntegrationDto" nillable="true" type="tns:IntegrationDto" />
  <xs:complexType name="AuthorInputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorDto" nillable="true" type="tns:AuthorDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorInputDto" nillable="true" type="tns:AuthorInputDto" />
  <xs:complexType name="AuthorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorDto" nillable="true" type="tns:AuthorDto" />
  <xs:complexType name="PublisherInputDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="PublisherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeriesName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublisherInputDto" nillable="true" type="tns:PublisherInputDto" />
</xs:schema>